/* Image de fondo para el login */
.bg-login{
    background-image: url("../../public/assets/images/all-img/gradu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

