/* Image de fondo para el login */
.bg-login{
    background-image: url("../../public/assets/images/all-img/graduation-6840941.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Image de fondo para el registro */
.bg-register{
    background-image: url("../../public/assets/images/all-img/online-education-3412473_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}